.contianer{
    width: 80%;
    margin-left: 110px;
}

.catalogue{
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 120px;
}

.card{
    height: 671px;
    width: 250px;
    color: white;
    background: rgb(30,30,30);
}

.movies-plot{
    color: lightgrey;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43em;
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    overflow: hidden; 
    max-height: 6.8em;
}

.movies-poster{
    height: 370px;
    width: 250px;
}

.movies-details{
    padding: 16px;
    padding-bottom: 24px;
}

.movies-title{
    cursor: pointer;
}